{% extends 'lm/base.html' %}

{% block content %}

    {% for application in applications%}
    <div style="padding:30px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">User : {{application.applicant.first_name}}</h3>
            </div>
            <div class="panel-body">
                <table style="text-align:center"  class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th style="text-align:center">Leave ID</th>
                        <th style="text-align:center">Number Of days</th>
                        <th style="text-align:center">Leave Type</th>
                        <th style="text-align:center">Leave Status</th>
                        <th style="text-align:center">From date</th>
                        <th style="text-align:center">To date</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td>{{application.leave_id}}</td>
                            <td>{{application.number_of_days}}</td>
                            <td>{{application.get_leave_type_display}}</td>
                            <td>{{application.get_leave_status_display}}</td>
                            <td>{{application.from_date}}</td>
                            <td>{{application.to_date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Message</label>
                <div style="padding:15px;width:80%">
                    <textarea class="form-control" style="resize:none" rows="3" id="textArea" readonly>{{application.additional_message}}</textarea>
                    <form method="POST">{% csrf_token %}
                        <div class="form-group">
                            <div style="padding-top:15px">
                                <input type="hidden" value="{{application.leave_id}}" name="leave_id" id="leave_id">
                                <input type="hidden" value="{{application.applicant.first_name}}" name="applicant" id="applicant">
                                <input type="hidden" value="{{application.number_of_days}}" name="number_of_days" id="number_of_days">
                                <input type="hidden" value="{{application.leave_type}}" name="leave_type" id="leave_type">
                                <button type="submit" value="A" name="submit" id="submit1" class="btn btn-info">Approve</button>
                                <button type="submit" value="R" name="submit" id="submit2" class="btn btn-warning">Reject</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}